<footer class="site-footer">

  <!-- <div class="wrapper">

  </div> -->
  <center class="footer-heading">
    <h3 class="none">{{ site.ad }}</h3>
    <h5>{{ site.copyright }}</h5>
    <h5><a href="{{ site.app_link }}" class="app-page-cta-section-button">Download xLiveWallpaper on App Store</a></h5>
      <!-- <a href='/'>Home</a> |
      <a href='/about/'>About</a> |
      <a href='mailto:{{ site.email }}'>Contact</a> -->
  </center>
  <!-- <div class="footer-col-wrapper">
    <div class="footer-col footer-col-1">
      <ul class="contact-list">
      </ul>
    </div>
  </div> -->

  </div>

</footer>